#imgPresentacion{
  /**width:15%;
  */
  width: 23%;
}
.imgRedonda{
  border-radius: 50%;
}
.divImagen{
  width: 50%;
}
.divPresentacion{
  text-align:center;
  width: 50%;
}

.infoAlumno{
  background: linear-gradient(to bottom right,#cfe5fa, white);/*Etiqueta standar*/
}
.desplegar{
  background:linear-gradient(to bottom right,#cfe5fa, white);
 /* W3C */
}
.indice{
  background: linear-gradient(to bottom left,#cfe5fa, white);/*Etiqueta standar*/
}
.titulo{
  display: inline;
  background: linear-gradient(to bottom left,#cfe5fa, white);/*Etiqueta standar*/
}
.foto{
  background: linear-gradient(to bottom right,#cfe5fa, white);/*Etiqueta standar*/
  /**
  * linear-gradient hace referencia a un degradado lineal
  * el primer parametro es el color de inicio y el segundo
  * parametro indica en que color terminara el degradado
  **/
}
